:root {
  --ui-height-L: 54px;
  --ui-height-M: 40px;
  --ui-height-S: 30px;
  --ui-height-XS: 26px;
  --ui-height-XXS: 20px;

  --UI-radius-L: 54px;
  --UI-M-40: 40px;
  --UI-S-30: 30px;
  --UI-XS-26: 40px;
}