:root {
	--primary: rgba(49, 5, 25, 1);
	--primary-light: rgba(74, 21, 46, 1);
	--primary-dark: rgba(23, 4, 13, 1);
	--primary-80: rgba(49, 5, 25, 0.8);
	--primary-60: rgba(49, 5, 25, 0.6);
	--primary-50: rgba(49, 5, 25, 0.5);
	--primary-20: rgba(49, 5, 25, 0.2);
	--primary-10: rgba(49, 5, 25, 0.1);

	--white: rgba(255, 255, 255, 1);
	--white-100: rgba(255, 255, 255, 1);
	--white-90: rgba(255, 255, 255, 0.9);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-8: rgba(255, 255, 255, 0.08);
	--white-5: rgba(255, 255, 255, 0.05);

	--neutral-500: rgba(242, 243, 247, 1);
	--neutral-600: rgba(229, 230, 235, 1);
	--neutral-650: rgba(191, 192, 196, 1);
	--neutral-700: rgba(165, 166, 170, 1);
	--neutral-750: rgba(140, 141, 145, 1);
	--neutral-800: rgba(115, 116, 120, 1);
	--neutral-850: rgba(89, 90, 94, 1);
	--neutral-900: rgba(38, 39, 43, 1);
	--neutral-950: rgba(13, 14, 18, 1);

	--accent: rgba(244, 45, 36, 1);
	--accent-light: rgba(255, 110, 103, 1);
	--accent-dark: rgba(204, 32, 24, 1);

	--radius: 0.625rem;

	--Backgrounds-bg-primary: var(--primary);
	--Backgrounds-bg-secondary: var(--neutral-500);
	--Backgrounds-bg-accent: var(--accent);
}

.dark {
	--Backgrounds-bg-primary: var(--primary);
	--Backgrounds-bg-secondary: var(--white-100);
	--Backgrounds-bg-accent: var(--accent);
}

.grey {
	--Backgrounds-bg-primary: var(--accent);
	--Backgrounds-bg-secondary: var(--white-8);
	--Backgrounds-bg-accent: var(--accent);
}


