:root {
	--brand: #4149f2;
	--brand-dark: #292fba;
	--brand-light: #5e65f6;

	--headers: #000000;
	--text: #000000;
	--background: #ffffff;

	--white: #ffffff;
	--black: #000000;
	--grey: #e2e2e2;
	--red: #ff001f;

	--additional-1: #21223c;
	--additional-2: #6b5b72;
	--additional-3: #6b5b72;
	--additional-4: #6b5b72;

	--radius: 0.625rem;
}

.dark {
	--brand: #7379ff;
	--brand-dark: #5e65f6;
	--brand-light: #9296ff;

	--headers: #ffffff;
	--text: #f5f5f7;
	--background: #171827;

	--additional-1: #e4e5ff;
	--additional-2: #b9b5c0;
	--additional-3: #918b98;
	--additional-4: #6f6975;


	--white: #ffffff;
	--black: #000000;
	--grey: #35364a;
	--red: #ff5266;
}