@font-face {
  font-family: "PtRoot";
  src: url("/fonts/pt-root-ui-bold.woff2") format("woff2-variations");
  font-weight: bold;
}

@font-face {
  font-family: "PtRoot";
  src: url("/fonts/pt-root-ui-regular.woff2") format("woff2-variations");
  font-weight: normal;
}