@use "null";
@use "fonts";
@use "colors";
@use "height";
@use "radius";
@use "spacing";

html {
  --scrollbar-width: #{$scrollbar-width};
  @include scrollbar(var(--scrollbar), black, $scrollbar-width, $scrollbar-width);
  background-color: black;
}

html.is-scroll-locked {
  @include scroll-compensation();
}

body * {
  @include scrollbar($width: 4px);
}

body {
  font-family: "PtRoot", monospace;
  color: var(--text);
  background-color: var(--background);
}

.valley {
  --valley-header-height: 94px;

  @media (max-width: $sm) {
    --valley-header-height: 78px;
  }
}

* {
  border-color: var(--border-muted);
  outline-color: color-mix(in srgb, var(--focus) 50%, transparent);
}

.page-navigation-overlay {
  position: fixed;
  inset: 0;
  z-index: $z-page-transition;
  display: flex;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

.page-navigation-overlay__bar {
  position: relative;
  flex: 1;
  background: black;

  //&::after {
  //  content: "";
  //  position: absolute;
  //  inset: 0 -2px;
  //  background: var(--brand);
  //  clip-path: polygon(0 0, 100% 0, 100% 100%);
  //}
  //
  //&:nth-child(odd)::after {
  //  clip-path: polygon(0 0, 0 100%, 100% 100%);
  //}
}
