// Светлая тема
:root {
  --bg-action-primary: var(--primary-500);
  --bg-action-primary-hover: var(--primary-300);
  --bg-action-secondary: var(--neutral-500);
  --bg-action-secondary-hover: var(--neutral-600);
  --bg-action-accent: var(--accent-500);
  --bg-action-accent-hover: var(--accent-600);
  --bg-action-on-media: var(--white-100);
  --bg-action-on-media-hover: var(--neutral-600);
  --bg-action-disabled: var(--neutral-500);
  --bg-action-disabled-media: var(--white-100);
  --bg-action-item-hover: var(--neutral-500);

  --bg-controls-unchecked: var(--neutral-600);
  --bg-controls-unchecked-hover: var(--white-100);
  --bg-controls-checked: var(--primary-400);
  --bg-controls-checked-hover: var(--primary-500);
  --bg-controls-selected: var(--primary-400);
  --bg-controls-selected-hover: var(--primary-500);
  --bg-controls-scrollthumb: var(--neutral-600);
  --bg-controls-scrollthumb-hover: var(--neutral-650);
  --bg-controls-group: var(--neutral-500);
  --bg-controls-on-group-selected: var(--primary-500);

  --bg-field-static: var(--neutral-500);
  --bg-field-hover: var(--neutral-600);
  --bg-field-expanded: var(--white-100);

  --text-on-bg-primary: var(--white-100);
  --text-on-bg-secondary: var(--neutral-950);
  --text-on-bg-accent: var(--white-100);
  --text-on-bg-media: var(--neutral-950);
  --text-on-bg-disabled: var(--neutral-750);
  --text-on-bg-disabled-media: var(--neutral-750);
  --text-on-bg-selected: var(--white-100);

  --text-on-surface-primary: var(--primary-500);
  --text-on-surface-primary-hover: var(--primary-300);
  --text-on-surface-secondary: var(--neutral-850);
  --text-on-surface-tertiary: var(--neutral-700);
  --text-on-surface-accent: var(--accent-500);
  --text-on-surface-accent-hover: var(--accent-600);
  --text-on-surface-dark: var(--neutral-950);
  --text-on-surface-dark-hover: var(--neutral-850);
  --text-on-surface-white: var(--white-100);
  --text-on-surface-white-hover: var(--neutral-650);
  --text-on-surface-error: var(--error);

  --border-primary: var(--primary-500);
  --border-accent: var(--accent-500);
  --border-expanded: var(--primary-500);
  --border-disabled: var(--neutral-600);
  --border-disabled-media: var(--white-30);
  --border-neutral: var(--neutral-600);
  --border-group: var(--neutral-500);
  --border-error: var(--error);

  --icon-on-bg-primary: var(--white-100);
  --icon-on-bg-secondary: var(--neutral-950);
  --icon-on-bg-secondary-muted: var(--neutral-700);
  --icon-on-bg-accent: var(--white-100);
  --icon-on-bg-media: var(--neutral-950);
  --icon-on-bg-disabled: var(--neutral-750);
  --icon-on-bg-disabled-media: var(--neutral-750);
  --icon-on-bg-unchecked: var(--neutral-650);
  --icon-on-bg-unchecked-hover: var(--primary-500);
  --icon-on-bg-checked: var(--white-100);
  --icon-on-bg-selected-muted: var(--white-60);

  --surface-block: var(--white-100);
  --surface-elevated: var(--white-100);

  --graphics-accent: var(--accent-500);
  --graphics-white: var(--white-100);
  --graphics-dark: var(--primary-500);
}

// Серая тема
.theme-grey {
  --bg-action-primary: var(--primary-500);
  --bg-action-primary-hover: var(--primary-300);
  --bg-action-secondary: var(--white-100);
  --bg-action-secondary-hover: var(--neutral-600);
  --bg-action-accent: var(--accent-500);
  --bg-action-accent-hover: var(--accent-600);
  --bg-action-on-media: var(--white-100);
  --bg-action-on-media-hover: var(--neutral-600);
  --bg-action-disabled: var(--white-100);
  --bg-action-disabled-media: var(--white-100);
  --bg-action-item-hover: var(--neutral-500);

  --bg-controls-unchecked: var(--white-100);
  --bg-controls-unchecked-hover: var(--white-100);
  --bg-controls-checked: var(--primary-400);
  --bg-controls-checked-hover: var(--primary-500);
  --bg-controls-selected: var(--primary-400);
  --bg-controls-selected-hover: var(--primary-500);
  --bg-controls-scrollthumb: var(--neutral-600);
  --bg-controls-scrollthumb-hover: var(--neutral-650);
  --bg-controls-group: var(--white-100);
  --bg-controls-on-group-selected: var(--primary-500);

  --bg-field-static: var(--white-100);
  --bg-field-hover: var(--neutral-600);
  --bg-field-expanded: var(--white-100);

  --text-on-bg-primary: var(--white-100);
  --text-on-bg-secondary: var(--neutral-950);
  --text-on-bg-accent: var(--white-100);
  --text-on-bg-media: var(--neutral-950);
  --text-on-bg-disabled: var(--neutral-750);
  --text-on-bg-disabled-media: var(--neutral-750);
  --text-on-bg-selected: var(--white-100);

  --text-on-surface-primary: var(--primary-500);
  --text-on-surface-primary-hover: var(--primary-300);
  --text-on-surface-secondary: var(--neutral-850);
  --text-on-surface-tertiary: var(--neutral-700);
  --text-on-surface-accent: var(--accent-500);
  --text-on-surface-accent-hover: var(--accent-600);
  --text-on-surface-dark: var(--neutral-950);
  --text-on-surface-dark-hover: var(--neutral-850);
  --text-on-surface-white: var(--white-100);
  --text-on-surface-white-hover: var(--neutral-650);
  --text-on-surface-error: var(--error);

  --border-primary: var(--primary-500);
  --border-accent: var(--accent-500);
  --border-expanded: var(--primary-500);
  --border-disabled: var(--neutral-650);
  --border-disabled-media: var(--white-30);
  --border-neutral: var(--neutral-650);
  --border-group: var(--white-100);
  --border-error: var(--error);

  --icon-on-bg-primary: var(--white-100);
  --icon-on-bg-secondary: var(--neutral-950);
  --icon-on-bg-secondary-muted: var(--neutral-700);
  --icon-on-bg-accent: var(--white-100);
  --icon-on-bg-media: var(--neutral-950);
  --icon-on-bg-disabled: var(--neutral-750);
  --icon-on-bg-disabled-media: var(--neutral-750);
  --icon-on-bg-unchecked: var(--neutral-650);
  --icon-on-bg-unchecked-hover: var(--primary-500);
  --icon-on-bg-checked: var(--white-100);
  --icon-on-bg-selected-muted: var(--white-60);

  --surface-block: var(--neutral-500);
  --surface-elevated: var(--white-100);

  --graphics-accent: var(--accent-500);
  --graphics-white: var(--white-100);
  --graphics-dark: var(--primary-500);
}

// Тёмная тема
.theme-dark {
  --bg-action-primary: var(--white-100);
  --bg-action-primary-hover: var(--white-80);
  --bg-action-secondary: var(--white-8);
  --bg-action-secondary-hover: var(--white-10);
  --bg-action-accent: var(--accent-500);
  --bg-action-accent-hover: var(--accent-600);
  --bg-action-on-media: var(--white-100);
  --bg-action-on-media-hover: var(--neutral-600);
  --bg-action-disabled: var(--white-8);
  --bg-action-disabled-media: var(--white-100);
  --bg-action-item-hover: var(--white-5);

  --bg-controls-unchecked: var(--white-10);
  --bg-controls-unchecked-hover: var(--white-20);
  --bg-controls-checked: var(--white-100);
  --bg-controls-checked-hover: var(--white-80);
  --bg-controls-selected: var(--white-100);
  --bg-controls-selected-hover: var(--white-80);
  --bg-controls-scrollthumb: var(--white-20);
  --bg-controls-scrollthumb-hover: var(--white-30);
  --bg-controls-group: var(--primary-300);
  --bg-controls-on-group-selected: var(--white-100);

  --bg-field-static: var(--white-8);
  --bg-field-hover: var(--white-10);
  --bg-field-expanded: var(--white-0);

  --text-on-bg-primary: var(--primary-500);
  --text-on-bg-secondary: var(--white-100);
  --text-on-bg-accent: var(--white-100);
  --text-on-bg-media: var(--neutral-950);
  --text-on-bg-disabled: var(--white-50);
  --text-on-bg-disabled-media: var(--neutral-750);
  --text-on-bg-selected: var(--neutral-950);

  --text-on-surface-primary: var(--white-100);
  --text-on-surface-primary-hover: var(--white-80);
  --text-on-surface-secondary: var(--white-80);
  --text-on-surface-tertiary: var(--white-40);
  --text-on-surface-accent: var(--accent-500);
  --text-on-surface-accent-hover: var(--accent-400);
  --text-on-surface-dark: var(--white-100);
  --text-on-surface-dark-hover: var(--white-80);
  --text-on-surface-white: var(--white-100);
  --text-on-surface-white-hover: var(--neutral-650);
  --text-on-surface-error: var(--error);

  --border-primary: var(--white-100);
  --border-accent: var(--accent-500);
  --border-expanded: var(--white-100);
  --border-disabled: var(--white-30);
  --border-disabled-media: var(--white-30);
  --border-neutral: var(--white-8);
  --border-group: var(--primary-300);
  --border-error: var(--error);

  --icon-on-bg-primary: var(--primary-500);
  --icon-on-bg-secondary: var(--white-100);
  --icon-on-bg-secondary-muted: var(--white-50);
  --icon-on-bg-accent: var(--white-100);
  --icon-on-bg-media: var(--neutral-950);
  --icon-on-bg-disabled: var(--white-50);
  --icon-on-bg-disabled-media: var(--neutral-750);
  --icon-on-bg-unchecked: var(--white-30);
  --icon-on-bg-unchecked-hover: var(--white-100);
  --icon-on-bg-checked: var(--neutral-950);
  --icon-on-bg-selected-muted: var(--neutral-750);

  --surface-block: var(--primary-400);
  --surface-elevated: var(--primary-400);

  --graphics-accent: var(--accent-500);
  --graphics-white: var(--accent-500);
  --graphics-dark: var(--white-90);
}




