@use "./shared/breakpoints" as *;

// Определяет участвующие брейкпоинты и порядок соответствующих им размеров.
$breakpoints: ($xxxs, $sm, $xxl);

// Сначала указываются размеры для каждого брейкпоинта,
// затем опционально font-weight, line-height и letter-spacing.
$font-sizes: (
       h1: (116, 72, 42, 400, 1.1, -3),
       h2: (84, 62, 36, 400, 1.1, -3),
       h3: (62, 54, 32, 400, 1.2, -1.5),
       h4: (52, 44, 28, 400, 1.2, -1.5),
       h5: (36, 30, 24, 400, 1.2, -1),
       lead-big: (28, 24, 20, 400, 1.5, -0.5),
       lead: (20, 18, 16, 700, 1.5, -0.2),
       p1: (16, 16, 14, 400, 1.5, -0.1),
       p2: (14, 14, 12, 700, 1.5, 0),
       label: (12, 12, 10, 600, 1.26, 0),
       button: (16, 16, 14, 600, 1.25, 0),
       button-small: (14, 14, 12, 600, 1.25, 0),
);
