// Подключаем проектные значения брейкпоинтов для настройки адаптивных размеров.
@use "./breakpoints" as *;

// Сначала указываются размеры для каждого брейкпоинта,
// затем опционально font-weight, line-height и letter-spacing.
$font-sizes: (
       h1: (32, 32, 56, 400, 1.1, 0),
       h2: (28, 28, 48, 400, 1.1, 0),
       h3: (24, 24, 40, 400, 1.2, 0),
       h4: (22, 22, 32, 400, 1.2, 0),
       h5: (20, 20, 24, 400, 1.2, 0),
       lead: (18, 18, 22, 400, 1.5, 0),
       lead-bold: (18, 18, 22, 700, 1.5, 0),
       p1-regular: (16, 16, 18, 400, 1.5, 0),
       p1-bold: (16, 16, 18, 700, 1.5, 0),
       p2-regular: (14, 14, 16, 400, 1.5, 0),
       p2-bold: (14, 14, 16, 700, 1.5, 0),
       p3-regular: (12, 12, 14, 400, 1.5, 0),
       p3-bold: (12, 12, 14, 700, 1.5, 0),
       disclaimer: (12, 12, 12, 400, 1.5, 0),
       navigation-link: (16, 16, 16, 400, 1.5, 0),
);

// Определяет участвующие брейкпоинты и порядок соответствующих им размеров.
$breakpoints: ($xxxs, $sm, $xxl);
