$scrollbar-width: 0.5rem;

@mixin scrollbar(
  $thumb-color: black,
  $scrollbar-color: black,
  $width: $scrollbar-width,
  $thumb-radius: 10px
) {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: $thumb-color $scrollbar-color;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar {
    width: $width;
    border-radius: 30px
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $thumb-radius;
  }
}
