@mixin scrollbar(
  $thumb-color: var(--primary),
  $scrollbar-color: var(--neutral-500),
  $width: 4px,
  $thumb-radius: 10px
) {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: $thumb-color $scrollbar-color;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar {
    width: $width;
    border-radius: 30px
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-color;
    border-radius: 30px
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $thumb-radius;
  }
}
